@import 'varaibles';
@import 'reset';
@import 'mixin';

header{
  position: relative;
  height: auto;
  width: 100%;
  background: #ffffff;
  @include mQ('200px', '900px'){
      height: auto;
      clear: both;
  }
  .topbar{
    position: relative;
    height: 94px;
    width: 100%;
    @include mQ('200px', '900px'){
      height: 100px;
      width: 100%;
    }
    nav{
      position: relative;
      float: right;
      width: 30%;
      @include mQ('200px', '900px'){
        float: none;
        width: 100%;
      }
      ul{
        position: relative;
        top: 30px;
        width: 100%;
        display: inline-block;
        list-style-type: none;
        @include mQ('200px', '900px'){
          background-color: #ccc;
          border-top: 1px solid #000;
          padding: 10px 0;
          top: 15px;
        }
        li{
          position: relative;
          background-color: #ccc;
          border-radius: 25px;
          margin: 0 20px;
          padding: 10px 15px;
          font-family: 'Hammersmith One', sans-serif;
          font-size: 20px;
          font-variant: small-caps;
          display: inline;
          @include mQ('200px', '900px'){
            background-color: transparent;
            margin: 0px;
            border-radius: 0;
            left: 20px;
          }
          &:nth-child(1){
            a{
              padding: 10px 20px;
            }
          }
          a{
            padding: 10px 10px;
          }
        }
      }
    }
    .topname{
      position: relative;
      top: 15px;
      left: 45px;
      float: left;
      width: 450px;
      height: 46px;
      @include mQ('200px', '900px'){
        top: 15px;
        left: 25px;
        width: 70%;
        clear: both;
      }
      img{
        position: relative;
        left: 0;
        top: 2px;
        float: left;
        width: 60px;
        height: 42px;
        @include mQ('200px', '900px'){
          width: 60px;
          height: 42px;
        }
      }
      p{
        float: left;
        position: relative;
        left: 10px;
        top: 10px;
        font-variant: small-caps;
        font-weight: bold;
        letter-spacing: -1px;
        word-spacing: -1px;
        cursor: default;
        /* Action Democratic Pa: */
        font-family: AbadiMT-CondensedExtraBold;
        font-size: 32px;
        color: #fff;
        letter-spacing: -1.21px;
        @include mQ('200px', '900px'){
          font-size: 20px;
        }
        .nameA{
          color: $thecolor;
        }
        .nameB{
          color: #4C8AC8;
        }
        .nameC{
          color: #2E2193;
        }
      }
    }
  }
  .midbar {
    position: relative;
    width: 100%;
    height: 268px;
    /* Rectangle: */
    background-color: #2E2193;
  }
  .GForm{
    float: right;
    width: 90%;
    @include mQ('200px', '900px'){
      float: none;
      clear: both;
      text-align: center;
      width: 90%;
      margin: 0 auto;
    }
    p{
      position: relative;
      font-size: 15px;
      color: #555;
      clear: both;
      float: none;
      top: 25px;
      #nalab{
        position: absolute;
        left: 450px;
        display: none;
      }
      #colab{
        position: absolute;
        left: 690px;
        display: none;
      }
      #useable{
        position: relative;
        left: 690px;
        @include mQ('200px', '900px'){
          width: 100%;
          text-align: center;
          left: 0;
          top: -70px;
        }
      }
    }
    form{
      position: relative;
      top: 30px;
      width: 80%;
      margin: 0 auto;
      align-items: center;
    @include mQ('200px', '900px'){
      width: 100%;
    }
      span{
        position: relative;
        float: left;
        font-family: AbadiMT-CondensedExtraBold;
        font-size: 25px;
        color: #290303;
        letter-spacing: -0.94px;
        @include mQ('200px', '900px'){
          font-size: 20px;
          float: none;
          clear: both;
        }
      }
      input{
        position: relative;
        left: 30px;
        top: -10px;
        float: left;
        margin-right: 10px;
        @include mQ('200px', '900px'){
          top: 10px;
          left: 0;
          float: none;
          clear: both;
          margin: 20px auto;
        }
        &[type="text"]{
          /* Rectangle 3: */
          border-radius: 8px;
          background-color: lighten(#cfcfcf, 10%);
          padding-left: 10px;
          font-size: 15px;
          width: 204px;
          height: 37px;
          border: 1px solid #979797;
        }
        &[type="submit"]{
          /* Rectangle 3: */
          width: 125px;
          height: 37px;
          background-color: darken(#D8D8D8, 10%);
          border: 1px solid #979797;
          border-radius: 8px;
          font-variant: small-caps;
          font-weight: bold;
          font-size: 15px;
        }
      }
    }
  }
}
.wrapper{
  position: relative;
  top: 30px;
  width: 100%;
  margin-top: 25px;
  clear: both;
  .content{
    position: relative;
    top: 20px;
    width: 90%;
    margin: 0 auto;
    clear: both;
    @include mQ('200px', '900px'){
      width: 95%;
    }
    section{
      width: 45%;
      float: left;
      border: 1px solid #ccc;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      @include mQ('200px', '900px'){
        width: 100%;
        float: none;
        clear: both;
        margin: 50px auto;
      }
      &:nth-child(2){
        margin-left: 70px;
        @include mQ('200px', '900px'){
          margin: 0 auto;
        }
      }
      h3{
        text-align: center;
        width: 100%;
        padding: 10px 0;
        background-color: $thecolor;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        color: #fff;
        font-variant: small-caps;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 0.2em;
      }
      p{
        padding: 15px;
        text-align: justify;
        font-family: 'Raleway', sans-serif;
      }
    }
    .regForm{
      position: relative;
      display: none;
      width: 100%;
      height: auto;
      border: 1px solid #000;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      @include clearFix;
      #fullpro{
        display: none;
      }
      h3{
        position: relative;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        background-color: $thecolor;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        color: #fff;
        font-variant: small-caps;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 0.2em;
        #d1{
          display: none;
        }
        #d2{
          display: none;
        }
        #d3{
          display: none;
        }
      }
      form{
        width: 80%;
        margin: 0 auto;
      }
      section{
        position: relative;
        border: 0px solid #000;
        border-radius: 0;
        &:nth-child(2){
          top: 213px;
          left: 100px;
          @include mQ('200px', '900px'){
            width: 100%;
            top: 0;
            left: 0;
          }
        }
      }
      label{
        position: relative;
        float: left;
        clear: both;
        margin: 20px auto 5px auto;
        @include mQ('200px', '900px'){
          float: none;
          margin: 1px;
          clear: both;
        }
      }
      select{
        float: left;
        clear: both;
        border-radius: 8px;
        background-color: lighten(#cfcfcf, 10%);
        background: url('../img/arrow-down-black.png') 90% / 15% no-repeat #eee;
        padding-left: 10px;
        font-size: 15px;
        width: 304px;
        height: 37px;
        border: 1px solid #979797;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        @include mQ('200px', '900px'){
          width: 204px;
          float: none;
          clear: both;
        }
      }
      input{
        position: relative;
        float: left;
        clear: both;
        margin-right: 10px;
        @include mQ('200px', '900px'){
          top: 10px;
          left: 0;
          float: none;
          width: 200px;
          clear: both;
          margin: 20px auto;
        }
        &[type="text"], &[type="email"]{
          /* Rectangle 3: */
          border-radius: 8px;
          background-color: lighten(#cfcfcf, 10%);
          padding-left: 10px;
          font-size: 15px;
          width: 304px;
          height: 37px;
          border: 1px solid #979797;
          @include mQ('200px', '900px'){
            width: 200px;
          }
        }
        &[type="submit"]{
          /* Rectangle 3: */
          width: 125px;
          height: 37px;
          background-color: darken(#D8D8D8, 10%);
          border: 1px solid #979797;
          margin-top: 20px;
          border-radius: 8px;
          font-variant: small-caps;
          font-weight: bold;
          font-size: 15px;
        }
      }
    }
  }
  .btsect {
    position: relative;
    width: 100%;
    height: 208px;
    top: 70px;
    clear: both;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
    background-color: #4C8AC8;
    p{
      position: relative;
      top: 30%;
      width: 80%;
      margin: 0 auto;
      font-family: 'Raleway', sans-serif;
      color: #ffffff;
      font-size: 25px;
      font-weight: 300;
      @include mQ('200px', '900px'){
        font-size: 15px;
      }
    }
  }
  #map{
    position: relative;
    width: 100%;
    height: 400px;
    top: 100px;
    clear: both;
  }
}
footer{
  position: relative;
  top: 150px;
  height: 300px;
  width: 100%;
  clear: both;
  background-color: $thecolor;
  @include mQ('200px', '900px'){
    height: 500px;
  }
  div{
    position: relative;
    top: 50px;
    width: 95%;
    margin: 0 auto;
    @include mQ('200px', '900px'){
      top: 30px;
    }
    section {
      position: relative;
      height: 160px;
      width: 45%;
      float: left;
      border-radius: 15px;
      &:nth-child(2){
        left: 70px;
        background-color: transparentize(#fff, 0.7);
        @include mQ('200px', '900px'){
          left: 0;
        }
      }
      @include mQ('200px', '900px'){
        position: relative;
        height: 200px;
        text-align: center;
        width: 95%;
        clear: both;
        float: none;
        margin: 0 auto;
      }
      img{
        position: relative;
        top: 20px;
        float: left;
        margin: 0 20px;
        @include mQ('200px', '900px'){
          top: 0;
          width: 70%;
          margin: 0 auto;
          float: none;
          clear: both;
        }
      }
      h3{
        position: relative;
        top: 20px;
        font-variant: small-caps;
        font-size: 25px;
        font-family: AbadiMT-CondensedExtraBold;
        text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        @include mQ('200px', '900px'){
          top: 20px;
          font-size: 20px;
          clear: both;
        }
        span{
          color: lighten($thecolor, 25%);
          &:nth-child(2){
            color: #4C8AC8;
          }
          &:nth-child(3){
            color: #2E2193;
          }
        }
      }
      p{
        position: relative;
        top: 20px;
        color: #ffffff;
        @include mQ('200px', '900px'){
          top: 20px;
        }
      }
    }
  }
}
